{% load static %}

<div class="list_item" id="poll_{{ item.id }}">

    <div class="list_item_title">{{ item.title }}
        <div class="controls_div">
            <a href="/poll/{{ item.id }}/">
                <button class="controls_btn">Go to poll</button>
            </a>
            <a href="/analytics/{{ item.id }}/">
                <button class="controls_btn">Analytics</button>
            </a>
            <button class="controls_btn" onclick="delete_poll({{ item.id }})">Delete</button>
        </div>
    </div>
    <div class="list_item_description">{{ item.description }}</div>

</div>
