body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.navbar {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.page-footer {
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);;
}

main {
    flex-flow: column;
}

.main_page_login {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100vw;
    font-size: 3rem;
    transform: translate(0, -50%);
}