body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.navbar {
    border-bottom: 0.5px solid rgba(0,0,0,0.15);
}

.page-footer {
    border-top: 0.5px solid rgba(0,0,0,0.15);;
}

