a, a:hover {
    color: #000 !important;
    text-decoration: none
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.base {

}

.main_space {
    height: 70vh;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 7px 7px 13px rgb(0 0 0 / 8%);
}

.link_custom {
    margin-left: auto;
    text-align: center
}

.list_block {
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
}

.main_block {
    margin: 1.5rem;
}

.list_item {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    margin: 1rem 2rem 1rem 1rem;
}

.list_item_description {
    margin-left: 2rem;
    font-size: 0.8rem;
}

.list_item_title {
    display: flex;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.11);
    justify-content: space-between;
}

.list_element {
    overflow: auto;
    height: 100%;
}

.main_block_btn {
    font-size: 1.5rem;
    text-align: center;
}

.list_block {
    overflow: auto;
}

.iframe_block {
    margin-top: 2rem;
}

.custom_iframe {
    border: none;
}

.controls_btn {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.block_tag {
    text-align: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
}






