{% load static %}
<script type="module" src="{% static "jquery/dist/jquery.min.js" %}"></script>

<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-grid.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-reboot.min.css" %}">
<link rel="stylesheet" href="{% static "css/api/default.css" %}">
{% if poll.css_file %}
    <link rel="stylesheet" href="{% static poll.css_file %}">
{% endif %}

<script type="module" src="{% static "bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
<script type="module" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pool.title }}</title>
</head>
<body>
    {% csrf_token %}
    <div class="container" id="inputs_div">
        <div class="row">
            <div class="col">
                <H1 class="text-center">{{ poll.title }}</H1>
            </div>
        </div>
        {% if poll.description %}
            <div class="row">
                <div class="col">
                    <p>{{ poll.description }}</p>
                </div>
            </div>
        {% endif %}

        {% for question in poll.questions %}
            <div id="inputs_container" class="row">
                <div class="col question mb-3">
                    <div class="row mt-2">
                        <div class="col">
                            <H3>{{ question.title }}</H3>
                        </div>
                    </div>
                    {% if question.description %}
                        <div class="row">
                            <div class="col">
                                <p>{{ question.description }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% for variant in question.variants %}
                        <div class="row">
                            <div class="col">
                                {% if variant.type == 'radio' or variant.type == 'checkbox' %}
                                    <input id="{{ variant.id }}" question_id="{{ question.id }}" poll_id="{{ poll.id }}"  type="{{ variant.type }}" name="{{ variant.name }}" value="{{ variant.value }}">
                                    <label>{{ variant.label }}</label>
                                {% else %}
                                    <div class="row">
                                        <div class="col">
                                            <label>{{ variant.label }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 mb-3">
                                            <input id="{{ variant.id }}" question_id="{{ question.id }}" poll_id="{{ poll.id }}" class="small-text-input" type="{{ variant.type }}" name="{{ variant.name }}" value="{{ variant.value }}">
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="row mb-3">
            <div class="col">
                <button type="button" id="poll_submit_btn" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div class="container d-none" id="thanks_div">
        <div class="row">
            <div class="col">
                <H1 class="text-center">Thank you for taking the poll!</H1>
            </div>
        </div>
    </div>
</body>
<script type="module" src="{% static "js/api/poll.js" %}"></script>
</html>

